# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [106]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [107]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|')

### Step 3. Assign it to a variable called users.

In [108]:
users = df

### Step 4. Discover what is the mean age per occupation

In [109]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [110]:
users.groupby('occupation')['gender'].value_counts(normalize=True).loc[:,'M'].sort_values(ascending=False)*100

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
Name: gender, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [111]:
users.groupby('occupation')['age'].aggregate([min,max]).head(10)

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53

### Step 7. For each combination of occupation and gender, calculate the mean age

In [112]:
users.groupby(['occupation', 'gender'])['age'].mean().head(10)

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [114]:
users.groupby('occupation')['gender'].apply(lambda r: (r.value_counts(normalize=True)*100))

occupation
administrator  M     54.430380
               F     45.569620
artist         M     53.571429
               F     46.428571
doctor         M    100.000000
educator       M     72.631579
               F     27.368421
engineer       M     97.014925
               F      2.985075
entertainment  M     88.888889
               F     11.111111
executive      M     90.625000
               F      9.375000
healthcare     F     68.750000
               M     31.250000
homemaker      F     85.714286
               M     14.285714
lawyer         M     83.333333
               F     16.666667
librarian      F     56.862745
               M     43.137255
marketing      M     61.538462
               F     38.461538
none           M     55.555556
               F     44.444444
other          M     65.714286
               F     34.285714
programmer     M     90.909091
               F      9.090909
retired        M     92.857143
               F      7.142857
salesman       M     75.000000
               F     25.000000
scientist      M     90.322581
               F      9.677419
student        M     69.387755
               F     30.612245
technician     M     96.296296
               F      3.703704
writer         M     57.777778
               F     42.222222
Name: gender, dtype: float64

In [116]:
users.groupby('occupation')['gender'].value_counts(normalize=True)*100

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
educator       M          72.631579
               F          27.368421
engineer       M          97.014925
               F           2.985075
entertainment  M          88.888889
               F          11.111111
executive      M          90.625000
               F           9.375000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         M          83.333333
               F          16.666667
librarian      F          56.862745
               M          43.137255
marketing      M          61.538462
               F          38.461538
none           M          55.555556
               F          44.444444
other          M          65.714286
               F          34.285714
programmer     M          90.909091
               F           9.090909
retired        M          92.857143
               F           7.142857
salesman       M          75.000000
               F          25.000000
scientist      M          90.322581
               F           9.677419
student        M          69.387755
               F          30.612245
technician     M          96.296296
               F           3.703704
writer         M          57.777778
               F          42.222222
Name: gender, dtype: float64